<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-primary bg-gradient shadow", style="--bs-bg-opacity: .7; width: 100vw; left: calc(-1 * (100vw - 100%) / 2);">
  <div class="container row mx-auto justify-between">
    <div class="col-md-4">
      <%= image_tag 'AwayFromHomeTransparent.svg', class: "img-fluid" %>
    </div>
    <div class="col-md-7 py-lg my-auto mx-auto ms-1 text-light">
      <h1 class="display-4 fw-bold">Keep your home running smoothly while you are away.</h1>
      <p class="lead fw-normal">Tired of coming home from a trip to dead plants and stolen mail? Whether you are away on business, vacation, or living as a digital nomad, RoamHome is the home-sitting task manager that makes it easy to keep your home in order.</p>
      <a class="btn btn-info btn-lg mt-3" href="/users/sign_in?demo=true">Try the Demo</a>
    </div>
  </div>
</div>

<div class="row align-items-center mt-4">
  <div class="col-md-4 order-md-2">
    <%= image_tag "friend.svg", class: "card-img-top mx-auto p-4" %>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assign your friends, family, or neighbors to stop by on the days that are convenient for them.</h5>
        <p class="card-text">They'll know exactly what tasks need to be done on their assigned day—James knows to water the begonias when he comes on Tuesday, and Sandy knows how to top up the aquarium on Thursday.</p>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center mt-4">
  <div class="col-md-4">
    <%= image_tag "check.svg", class: "card-img-top mx-auto p-4" %>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Track in real time as tasks are completed</h5>
        <p class="card-text">With a simple checklist, your home-sitters have clear instructions to easily complete their assigned tasks and mark them done.</p>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center mt-4">
  <div class="col-md-4 order-md-2">
    <%= image_tag "island.svg", class: "card-img-top mx-auto p-4" %>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Peace of mind that your home is in good hands</h5>
        <p class="card-text">Whether you are in the next town over, or on the other side of the world, RoamHome gives you the peace of mind to not worry whether you left your garage door open or A/C on. Empower your friends and family to help in a way that is convenient for them.</p>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100 text-bg-primary">
      <%= image_tag "phone.svg", class: "card-img-top mx-auto p-4", style: "height: 150px;" %>
      <div class="card-body">
        <h5 class="card-title">No more 2am phone calls from another time zone</h5>
        <p class="card-text">Clear and explicit task instructions for your home-sitters prevents the dreaded middle of the night calls.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 text-bg-primary">
      <%= image_tag "messages.svg", class: "card-img-top mx-auto p-4", style: "height: 150px;" %>
      <div class="card-body">
        <h5 class="card-title">No more unwieldy group chats and forgotten tasks</h5>
        <p class="card-text">Don't make your friend scroll through weeks of messages to find the lockbox code again.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 text-bg-primary">
      <%= image_tag "scooter.svg", class: "card-img-top mx-auto p-4", style: "height: 150px;" %>
      <div class="card-body">
        <h5 class="card-title">No more distractions if plans or home-sitters change</h5>
        <p class="card-text">Easily move and edit tasks and home-sitters.</p>
      </div>
    </div>
  </div>
</div>
<div class="mt-5 p-3 p-md-5 text-center bg-primary bg-gradient shadow", style="--bs-bg-opacity: .7;">
  <div class="container row mx-auto justify-between">
    <div class="col-md-12 py-lg my-auto mx-auto ms-1 text-light">
      <h1 class="display-4 fw-bold">Ready to RoamHome?</h1>
      <a class="btn btn-info btn-lg mt-3" href="/users/sign_in?demo=true">Try the Demo</a>
    </div>
  </div>
</div>
